button{
  background: inherit ; border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer}

.wrapper {
  height: 460px;
  background-color: #ffffff;
}

.button_logout {
  color: #fff;
  background-color: #c7c7c7;
  border-radius: 10px;
  padding: 2px 12px;
}

.button_logout:hover {
  background-color: #9b9b9b;
}

.unclick_userInfo {
  padding: 3px 20px;
}

.onclick_userInfo {
  background-color: #d8e5ff;
  padding: 3px 20px;
}

.unclick_memo {
  padding: 3px 20px;
}

.onclick_memo {
  background-color: #d8e5ff;
  padding: 3px 20px;
}