.wrapper {
  position: relative;
}

.ulWrapper {
  height: 600px;
  background-color: #ffffff;
  overflow: auto;
}

.list {
}

.item {
  background-color: #ffe68d;
  border: 1px solid #ffe68d;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 20px;
}
