.wrapper {
  position: relative;
}

.ulWrapper {
  height: 800px;
  background-color: #ffffff;
  overflow: auto;
}

.ulWrapper::-webkit-scrollbar {
  width: 10px;
}
.ulWrapper::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
  border-radius: 10px;
}
.ulWrapper::-webkit-scrollbar-track {
  background-color: #fff;
}

.list {
}

.wrapper_question {
  width: 100%;
  display:flex;
  align-items: flex-start;
  flex-direction: row-reverse;
}

/* .wrapper_question::before {
  right: -15px;
  content: "▶";
  color: #eeeeee;
} */

.item_question {
  position: relative;
  display: inline-block;
  max-width: calc(100% - 200px);
  padding: 15px 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #eeeeee;
}

.wrapper_answer {
  width: 100%;
  display:flex;
  align-items: flex-start;
}

/* .wrapper_answer::before {
  left: -15px;
  content: "◀";
  font-size: 20px;
  color: #ffe68d;
} */

.icon_answer {
  width: 50px;
  height: 70px;
  background-image: url("../img/hobanu.png");
  background-size: 50px 70px;
  margin-right: 30px;
}

.item_answer {
  position: relative;
  display: inline-block;
  max-width: calc(100% - 200px);
  padding: 15px 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: #ffe68d;
}
