.wrapper {
  width: 100%;
  height: auto;
  display: flex;
}

.primary {
  width: 70%;
  flex-direction: column;
}

.secondary {
  width: 30%;
}

.icon_logo {
  position: fixed;
  bottom: 15px;
  left: 0;
  width: 168px; 
  height: 84px;
  background-image: url("../img/logo_knuis.png");
  background-size: 168px 84px;
  margin-left: 30px;
}
