.wrapper {
  height: 1060px;
  background-color: #ffffff;
  overflow: scroll;
}

.item {
  display:flex;
  height: 80px;
  line-height: 80px;
  text-align: center;
}

.onclick_chatId {
  line-height: 45px;
  text-align: center;
  height: 80px;
  background-color: #eeeeee;
}