.wrapper {
  /* height: 1060px; */
  height: 600px;
  background-color: #ffffff;
  overflow: scroll;
}
.wrapper::-webkit-scrollbar {
  width: 10px;
}
.wrapper::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
  border-radius: 10px;
}
.wrapper::-webkit-scrollbar-track {
  background-color: #fff;
}

.item {
  display:block;
  height: 70px;
  line-height: 70px;
  text-align: center;
}

.onclick_chatId {
  line-height: 70px;
  text-align: center;
  height: 70px;
  background-color: #eeeeee;
}